<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/openmoji-color-awesome.css">
    <link rel="stylesheet" href="/css/brite.css">

</head>
<body>

<div th:replace="~{nav :: navbar}"></div>
<div class="row">
    <div class="col-1">

        <div>
            <p>Filters</p>
        </div>
    </div>
    <div class="col">

        <h1 th:text="#{message.nav.products}">Products</h1>
        <p>Current Locale: <span th:text="${#locale}"></span></p>

        <div class="row row-cols-1 row-cols-sm-3 row-cols-md-5 g-4">
            <div class="col" th:each="product : ${products}">
                <div class="card" style="max-width: 320px">
                    <img th:src="${product.imageUrl}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.name}">name</h5>
                        <p class="card-text" th:text="${product.description}">description</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="h5 mb-0" th:text="${product.price}">00.0</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary btn-sm" th:text="#{message.product.add_to_cart}">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == page} ? 'active'">
            <a class="page-link" th:href="@{'/?page=' + ${i}}" th:text="${i}">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

</nav>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>